# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IDE
.idea/
.vs/
*.iml

# Android
android/.gradle/
android/.kotlin/
android/local.properties

# Generated
*.log